{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>insanulfahmi</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

	<div class="container text-center">
		<b class="judul text-center" >Halo, Apa Kabar?</b>
	</div>

	<div class="row">
		<div class="col-sm-6 mx-auto" style="margin-top: 10px;">
			<form action="{% url 'story_6:index' %}" method="POST">
	           	{% csrf_token %}
	                {{ form.as_p }}
	                <br>

	            <div class="pull-right" style="margin-top: -20px;">
	                <button id="button-form" type="submit" class="btn btn-secondary" href="{% url 'story_6:index' %}">
	                    Submit
	                </button>
	            </div>
	        </form>
	   	</div>
	</div>


	<div class="container montserrat_font" style="margin-top: 50px">
		<table id='myStatus' class="table table-striped table-dark">
			<thead>
            	<tr>
                	<th class="col-status" scope="col">Status</th>
                	<th class="col-waktu" scope="col">Waktu</th>
            	</tr>
          	</thead>

          	<tbody>
            	{% for status in table %}
            	<tr>
              		<th scope="row">{{ status.status }}</th>
              		<td>{{ status.waktu }}</td>
            	</tr>
            	
            	{% endfor %}
          </tbody>
		</table>
	</div>


</body>
</html>